@use '../../styles/variables' as v;

.btn {
  height: 40px;
  min-width: 100px;
  border-radius: v.$radius-sm; 
  border: none;
  font-size: 15px;
  font-weight: 500;
  cursor: pointer;
  transition: v.$transition;

  &--primary {
    background: v.$bg-primary; 
    color: v.$text-light;
  }

  &--secondary {
    background: v.$accent; 
    color: v.$text-light;
  }

  &:hover {
    transform: translateY(-1px); 
    opacity: 0.95;
  }

  &:disabled {
    background: #ccc;
    color: #444;
    cursor: not-allowed;
  }
}
