@use '../../styles/variables' as v;

.card {
  background: v.$surface; 
  color: v.$text-dark; 
  border-radius: v.$radius-lg; 
  padding: 32px; // once check
  margin: v.$space-lg 0; 
  box-shadow: v.$shadow-md; // NEWEST ONE
  position: relative;
}
