@use '../styles/variables' as v;


h2 {
  text-align: center;
  font-size: 22px;
  font-weight: 600;
  margin-bottom: v.$space-lg;
}

.input-group {
  display: flex;
  gap: v.$space-sm;
  border: 1px solid v.$border;
  padding: v.$space-sm;
  border-radius: v.$radius-sm;
}

input {
  flex-grow: 2;
  border: none;
  font-size: 15px;

  &:focus {
    outline: none;
  }
}
.message {
  padding-top: 10px;
  text-align: center;
  color: rebeccapurple;
}