header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 70px;
  width: 100%;
  margin-bottom: 30px;
}

.links{
  background-color: white;
  color: red;
}

.button{
  background-color: transparent;
  border: none;
  color: white;
  font-size: 18px;
  padding:4px 8px;
  border-radius: 8px;
  &:hover{
    background-color: rgb(5, 1, 29);
    color: white;
  }
}